/*color: #4ddeb7;*/
/*shunt-color: #01a4bd - gradient: 5bc0de / 01a4bd */


/*** Body, html *****************************************************/

body, html {
	background: url("../img/whitey.png");
}

h2 {
	font-size: 14px;
	line-height: 16px;
}

/*** Mixins *********************************************************/

.bold {
	font-weight: bold;
}

.fs14 {
	font-size: 14px;
}

.w85 {
	width: 85%;
}

.w15 {
	width: 15%;
}

.mt10 {
	margin-top: 10px;
}

.mB10 {
	margin-bottom: 10px;
}

.mt25 {
	margin-top: 25px;
}

.btn-lagoon {
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border: 1px solid #2f96b4;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#5bc0de,#01a4bd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#01a4bd));
	background-image: -webkit-linear-gradient(top,#5bc0de,#01a4bd);
	background-image: -o-linear-gradient(top,#5bc0de,#01a4bd);
	background-image: linear-gradient(to bottom,#5bc0de,#01a4bd);
	background-repeat: repeat-x;
	cursor: pointer;
}

.btn-lagoon:active,
.btn-lagoon:focus,
.btn-lagoon:hover {
	color: #fff;
	background-color: #01a4bd;
	background-image: none;
}

.btn-carmin {
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border: 1px solid #bd362f;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
	background-repeat: repeat-x;
	cursor: pointer;
}

.btn-carmin:active,
.btn-carmin:focus,
.btn-carmin:hover {
	color: #fff;
	background-color: #bd362f;
	background-image: none;
}
/*** Top & Bottom Menu **********************************************/

@media (max-width: 979px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
		margin: 0;
	}
}

.navbar-inverse .navbar-inner {
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top,#333,#111);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#111));
	background-image: -webkit-linear-gradient(top,#333,#111);
	background-image: -o-linear-gradient(top,#333,#111);
	background-image: linear-gradient(to bottom,#333,#111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
}

/*** Top menu *******/

#menu-top .navbar-inner {
	height: 40px;
}

#menu-top h1 {
	margin: 0 0 0 30px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	/*color: #01a4bd;*/
	color: #5bc0de;
}

/*** Bottom menu *******/

#menu-bottom .navbar-inner {
	height: 50px;
}

#menu-bottom ul {
	width: 100%;
}

#menu-bottom li {
	width: 31%;
	margin: 0 1.15%;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
}

#menu-bottom a {
	display: block;
	height: 40px;
	line-height: 15px;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#menu-bottom a > i {
	font-size: 20px;
	line-height: 25px;
}

#menu-bottom li:hover a,
#menu-bottom li:focus a,
#menu-bottom li:active a,
#menu-bottom li.active a {
	color: #01a4bd;
}

/*** Middle - Content ***********************************************/

#content {
	margin-top: 61px;
	margin-bottom: 81px;
}

#content > .row {
	margin-left: 0;
}

/*** Serv-select *******/

#serv-select option {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#serv-refresh {
	margin: 0;
	width: 28px;
	height: 28px;
	line-height: 28px;
}

/*** DL-stats *******/

#dl-stats {
	margin: 10px auto;
	font-size: 13px;
}

#dl-stats p {
	margin-bottom: 0;
}

#dl-stats > .row {
	width: 96%;
	margin: 0 auto;
}

#dl-stats .dl-stats-left,
#dl-stats .dl-stats-right {
	float: left;
	width: 50%;
}

#dl-stats .dl-stats-files {
	text-align: center;
}

/*** DL-search *******/

#dl-search {
	margin: 10px auto 15px;
	text-align: center;
}

#dl-search .input-append,
#dl-search .input-prepend {
	margin-bottom: 0;
	width: 100%;
}

#dl-search .add-on {
	background-color: #fff;
	border: 1px solid #ccc;
}

#dl-search .add-on-left {
	margin-right: 0;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

#dl-search .add-on-right {
	margin-left: 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

#search-input {
	width: 75%;
	border-left: none;
	border-right: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;/* Disable inner shadow for iOS */
}

#search-input:active,
#search-input:focus {
	border-color: #ccc;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25) inset;
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25) inset;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25) inset;
}

/*** DL-list *******/

#dl-list ul,
#dl-details-list ul {
	list-style: none;
	margin: 0;
}

.dl-item {
	min-height: 30px;
	margin-top: -1px;
	border: 1px solid #ccc;
	background-color: #fff;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
}

.dl-item:first-of-type {
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.dl-item:last-of-type {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

.dl-item a {
    color: black;
}

.dl-item a:hover,
.dl-item a:focus,
.dl-item a:active {
	text-decoration: none;
}

.dl-item-overview,
.dl-item-details {
	padding: 4px 6px;
}

.dl-item h3 {
	margin: 0 30px 0 20px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.dl-item h3.no-margin {
	margin-left: 0;
}

.dl-item .chevron {
	margin-top: 5px;
	width: 20px;
	height: 20px;
	font-size: 16px;
}

.dl-item .chevron i {
	margin-top: -1px;
	margin-left: 1px;
}

.dl-item .status-sign {
	display: block;
	height: 30px;
	line-height: 30px;
}

.dl-item .progress-bar {
	height: 4px;
	margin: 2px 30px 0 20px;
	border: 1px solid #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
	background-color: #fff;
}

.dl-item .progress-inner {
	height: 6px;
	margin-top: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dl-item .progress-inner.active {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
	-ms-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

/*** Open-item *******/

.open-item {
	background: url("../img/grey-linen.png");
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.15) inset;
	color: #fff;
	font-weight: 300;
}

.open-wrap {
	padding: 5px 6px;
}

.open-left,
.open-right {
	margin-bottom: 5px;
}
.open-left {
	float: left;
	text-align: left;
}
.open-right {
	float: right;
	text-align: right;
}

.open-action {
	width: 100%;
	text-align: center;
}

.open-action .btn {
	width: 45%;
	margin: 0 1% 5px;
}

/*** server-list *******/

#server-list {
	margin-top: 20px;
	background-color: #fff;
}

#server-list td {
	vertical-align: middle;
}

#server-list button {
	width: 30px;
	height: 30px;
	line-height: 26px;
	padding: 0;
}

#server-list .serv-action {
	text-align: center;
}

/*** add-item & back-dl-list buttons ********************************/

#add-item {
	margin-top: 6px;
	margin-right: 6px;
	width: 26px;
	height: 26px;
	line-height: 26px;
}

#back-dl-list {
	margin-top: 6px;
	margin-left: 6px;
	width: 26px;
	height: 26px;
	line-height: 26px;
}

#add-item i,
#back-dl-list i {
	margin: 0;
}

