/*color: #4ddeb7;*/


/*** Body, html *****************************************************/

body, html {
	background: url("../img/furley.png");
}

.bolder {
	font-weight: 600;
}

/*** Top & Bottom Menu **********************************************/

@media (max-width: 979px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
		margin: 0;
	}
}

.navbar-inverse .navbar-inner {
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top,#333,#111);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#111));
	background-image: -webkit-linear-gradient(top,#333,#111);
	background-image: -o-linear-gradient(top,#333,#111);
	background-image: linear-gradient(to bottom,#333,#111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
}

/*.navbar .nav>li>a {
	padding: 5px;
}*/

.navbar-inverse .nav>li>a:focus, .navbar-inverse .nav>li>a:hover {
	color: #fff;
	background-color: #111;
}

/*** Top menu *******/

#menu-top .navbar-inner {
	height: 40px;
}

#menu-top h1 {
	margin: 0 0 0 30px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: #62c462;
}

/*** Bottom menu *******/

#menu-bottom .navbar-inner {
	height: 50px;
}

#menu-bottom ul {
	width: 100%;
}

#menu-bottom li {
	width: 33%;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
}

#menu-bottom a {
	margin: 2px;
	padding: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#menu-bottom li:hover a,
#menu-bottom li:active a,
#menu-bottom li.active a {
	color: #62c462;
}

/*** Middle - Content *******/

#content {
	margin-top: 61px;
	margin-bottom: 81px;
}

/*** DL-stats *******/

#dl-stats {
	font-size: 13px;
}

#dl-stats p {
	margin-bottom: 0;
}

#dl-stats .dl-stats-left,
#dl-stats .dl-stats-right {
	float: left;
	width: 50%;
}

#dl-stats .dl-stats-files {
	text-align: center;
}


/*** DL-search *******/

#dl-search {
	margin: 10px auto 15px;
	text-align: center;
}

#dl-search .input-append,
#dl-search .input-prepend {
	margin-bottom: 0;
	width: 100%;
}

#dl-search .add-on {
	background-color: #fff;
	border: 1px solid #ccc;
}

#dl-search .add-on-left {
	border-right: none;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

#dl-search .add-on-right {
	border-left: none;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

#search-input {
	width: 75%;
	border-left: none;
	border-right: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*** DL-list *******/

#dl-list ul {
	list-style: none;
	margin: 0;
}

#dl-list .dl-item {
	height: 30px;
	padding: 4px 6px;
	margin-top: -1px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#dl-list .dl-item:first-of-type {
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

#dl-list .dl-item:last-of-type {
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

#dl-list .dl-item:active {
	background-color: rgba(98,196,98,0.5);
}
#dl-list .dl-item.pause:active {
	background-color: rgba(250,180,80,0.5);
}
#dl-list .dl-item.error:active {
	background-color: rgba(220,80,70,0.5);
}

.dl-item h2 {
	margin: 0 25px 0 20px;
	/*width: 90%;*/
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.dl-item .chevron {
	margin-top: 5px;
	width: 16px;
	height: 16px;
	border: 2px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#62c462,#51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	background-image: -o-linear-gradient(top,#62c462,#51a351);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	cursor: pointer;
}

.dl-item .chevron i {
	margin-top: -1px;
	margin-left: 1px;
}

.dl-item .status-sign {
	display: block;
	height: 30px;
	line-height: 30px;
}

.dl-item .progress-bar {
	height: 4px;
	margin: 2px 25px 0 20px;
	border: 1px solid #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
	background-color: #fff;
}

.dl-item .progress-inner {
	height: 6px;
	margin-top: -1px;
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#62c462,#51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	background-image: -o-linear-gradient(top,#62c462,#51a351);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dl-item.pause .progress-inner {
	background-color: #faa732;
	background-image: -moz-linear-gradient(top,#fbb450,#f89406);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
	background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
	background-image: -o-linear-gradient(top,#fbb450,#f89406);
	background-image: linear-gradient(to bottom,#fbb450,#f89406);
}

.dl-item.error .progress-inner {
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
}

/*** Open-item *******/

#dl-list .open-item {
	height: 48px;
	padding: 4px 6px;
	background: url("../img/grey-linen.png");
	/*background-color: #ddd;*/
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.15) inset;
	color: #fff;
	font-weight: 300;
}

#dl-list .open-item:active {
	background-color: #ddd !important;
}

.open-wrap {
	width: 100%;
	height: 100%;
}

.open-left,
.open-right {
	width: 50%;
	float: left;
}
.open-left {
	text-align: left;
}
.open-right {
	text-align: right;
}

.open-action {
	float: left;
	width: 100%;
	text-align: center;
}

.btn-pause,
.btn-trash,
.btn-replay {
	display: block;
	width: 50%;
	margin: 5px auto;
	font-weight: 500;
	cursor: pointer;
}

.btn-pause {
	float: left;
	color: #faa732;
}

.btn-replay {
	float: left;
	color: #62c462;
}

.btn-trash {
	float: right;
	color: #D93A33;
}

.btn-pause:hover,
.btn-trash:hover,
.btn-replay:hover {
	text-decoration: none;
	color: #eee;
	cursor:pointer;
}

/*** add-item *******/

#add-item {
	margin-top: 8px;
	margin-right: 8px;
	width: 19px;
	height: 19px;
	border: 2px solid #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#62c462,#51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	background-image: -o-linear-gradient(top,#62c462,#51a351);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	cursor: pointer;	
}

#add-item i {
	margin-top: 0px;
	margin-left: 3px;
}

